* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

h2 {
  padding: 0.5rem;
  font-size: clamp(0, 5vh + 0.75rem, 0);
  text-align: center;
}

h3 {
  padding: 2rem;
  text-align: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;

}

header {
  margin: 2rem;
  margin: 0 auto;
  text-align: center;
}

#box_wrap {
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  
}

.box {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  align-items: center;
}

#box1 {
  justify-content: space-between;
}

.play {
  padding-left: 2rem;
  padding-right: 2rem;
}

a {
  color: white;
}

#highscores {
  margin-top: 5rem;
  margin-left: auto;
  padding-right: 4rem;

}

#highscores a {
  color: firebrick;
  font-size: 1.3rem;
  font-weight: 500;
}

#scores_container {
  margin-left: auto;
}

.gap {
  gap: 2rem;
}

a:hover {
  color: black;
  text-decoration: none;
}

#modal {
  gap: 1rem;
  padding: 1rem;
  margin: 2rem auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  align-items: stretch;
}

.answer_insput {
  padding: 0.2rem;
  padding-bottom: 7px;
}

/* High scores specific CSS */

.HS-title {
  text-align: center;
  padding: 10px;

}

.tile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.wrapper{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.tile {
  border: solid 1px black;
  border-radius: 5px;
  width: 40%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile p {
  text-align: center;
}

#modal-image {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 426px) {
  .tile {
    width: 100%;
    margin: 10px;
  }

  .HS-title {
    margin-top: 100px;
    margin-bottom: 0px;
  }

}

#HS-song-header {
  color: #dc3545;
}

#HS-movie-header {
  color: #007bff;
}

.nav-button {
  color: white;
  border-radius: 3px;
  background-color: #47d645;
  border: none;
  font-size: 1.2em;
  width: auto;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 40px;
  margin-top: 40px;
}

.nav-button:hover {
  color: #47d645;
  background-color: white;
  border: solid 1px #47d645;
  box-shadow: 1px 1px;
}

#songHighScores {
  margin-left: 1rem;

}

#movieHighScores {
  margin-left: 1rem;
}

#clear {
  background-color: #007bff;
  border: #007bff;
  width: 100%;
  max-width: 200px;
  margin: auto;
}

#lives{

  font-weight: bold;
  font-size: 2rem;
  color: #dc3545;
}
.lives{
  font-weight: bold;
  font-size: 2rem;
}

.box_wrap{
  border: 1px solid black;
}

#score{
  max-width: 200px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2rem;
  color: #dc3545;
}

#modal-image {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

#clue-box{
  border: 1px black solid;
}

#score{
  color: black;
}
.score{
  color: #dc3545;
}

.title{
  border-bottom: black 1px solid;
  padding-bottom: 1rem;
}

#quiz-wrap {
  background-color: #f19b9b;
  border-radius: 25px;
  padding: 25px;
  margin: 25px 0;
  box-shadow: 5px 5px 10px #e9571e;
}

.quiz-question {
  font-size: 28px;
  margin-bottom: 25px;
  color: #dd381b;
}

.quiz-choice {
  margin: 15px 0;
  font-size: 20px;
  color: #dd381b;
}

#play_song_button {
  margin: 10px;
  background-color: #FF0000; /* set button background color to red */
  color: #FFFFFF; /* set button text color to white */
  border: none; /* remove button border */
  border-radius: 5px; /* add a rounded border */
  font-size: 18px; /* set button text size */
  padding: 10px 20px; /* set button padding */
  text-align: center; /* center button text */
  text-transform: uppercase; /* capitalize button text */
  box-shadow: 2px 2px 5px #000000; /* add a subtle shadow effect */
}

#play_song_button:hover {
  background-color: #D80000; /* darken button color on hover */
  cursor: pointer; /* show pointer cursor on hover */
}


#quiz-counter {
  font-size: 22px;
  margin-bottom: 25px;
  color: #ffffff;
}

.quiz-result {
  font-size: 24px;
  margin-top: 20px;

}

#quizTitle {
  margin: 10px;
  color: white;
  text-shadow: 2px 2px black;
}

#quiz-form > input[type=submit] {
  background-color: #D80000; /* Set the background color */
  border: none; /* Remove the border */
  color: white; /* Set the text color */
  padding: 12px 24px; /* Set the padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove the underline */
  display: inline-block; /* Make it an inline block */
  font-size: 16px; /* Set the font size */
  margin: 4px 2px; /* Set the margin */
  cursor: pointer; /* Add a pointer on hover */
  border-radius: 4px; /* Add a border radius */
}

#quiz-form > input[type=submit]:hover {
  background-color: #4CAF50; /* darken button color on hover */
  cursor: pointer; /* show pointer cursor on hover */
}

#play-again {
  background-color: #D80000; /* Set the background color */
  border: none; /* Remove the border */
  color: white; /* Set the text color */
  padding: 12px 24px; /* Set the padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove the underline */
  display: inline-block; /* Make it an inline block */
  font-size: 16px; /* Set the font size */
  margin: 4px 2px; /* Set the margin */
  cursor: pointer; /* Add a pointer on hover */
  border-radius: 4px; /* Add a border radius */
}

#play-again:hover {
  background-color: #4CAF50; /* darken button color on hover */
  cursor: pointer; /* show pointer cursor on hover */
}

#heart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 2rem;
}

.heart {
  margin-right: 10px;
  color: #fd0202;
  text-shadow: 0 0 2px #070707, 0 0 4px #030303, 0 0 6px #020202;
}

.fa-heart {
  color: red;
}


.highscore-btn {
  position: fixed;
  top: 10px;
  right: 10px;
}

.highscore-btn {
  background-color: #D80000; /* Set the background color */
  border: none; /* Remove the border */
  color: white; /* Set the text color */
  padding: 12px 24px; /* Set the padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove the underline */
  display: inline-block; /* Make it an inline block */
  font-size: 16px; /* Set the font size */
  margin: 4px 2px; /* Set the margin */
  cursor: pointer; /* Add a pointer on hover */
  border-radius: 4px; /* Add a border radius */
}

.highscore-btn:hover {
  background-color: #4CAF50; /* darken button color on hover */
  cursor: pointer; /* show pointer cursor on hover */
}

#quiz-back {
  background-image: url('../assets/images/crowd.jpg');
  background-size: cover;
}
